@page
@model ActiveModel
@{
    ViewData["Title"] = "Active business cases";
}

<html>
    <head>
        <title>Active Business Cases</title>
        <script src="js/site.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192721075-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-192721075-1');
        </script>
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KLDZ6Z2');
        </script>
        <!-- End Google Tag Manager -->
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLDZ6Z2" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="wrapper">
            <h1><span>Active Business Cases</span></h1>
            <div class="zone flex-wrapper">
                <!-- we're appending the id in query-format to the end of the URL three lines down, so we can parse it on page load and display the correct case. -->
                @foreach (var bcase in Model.Cases)
                {
                    <a href="/Case?id=@bcase.id">
                        <div class="box zone">
                            <div class="row">
                                <div class="col75percent img-wrapper"><img src="@bcase.logo"><h6>@bcase.title</h6></div>
                                <div class="col25percent info">
                                    <div>Responses: @bcase.num_responses</div>
                                    <div id="datetime_@bcase.id"></div>
                                    <div>Bounty (USD): @bcase.bounty$</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            
            @foreach (var bcase in Model.Cases) {
                <script type="text/javascript">
                    document.getElementById("datetime_@bcase.id").innerHTML = "Posted: " + timeElapsed(@bcase.datetime) + " ago";
                </script>
            } 
        <div class="wrapper">
    </body>
</html>