@page
@model CaseModel
@{
    ViewData["Title"] = "Business case details";
}

<html>
    <head>
        <title>Business Case Details</title>
        <script src="js/site.js"></script>
         <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192721075-1"></script>
                <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-192721075-1');
                </script>
            <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-KLDZ6Z2');</script>
            <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLDZ6Z2"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!-- HttpContext.Request.Query gets the query string with the key "id" ("?id=X" from the URL), which we need in order to know what case to load -->
        <!-- id is saved as a string in the data model to avoid type conversion here -->
        <!-- we compare the ids for the cases in the database (or for now in the json file) and display it if it's found. IDs must be unique for this to work -->
        @foreach (var bcase in Model.Cases) { 
            @if (HttpContext.Request.Query["id"] == bcase.id) {
                Model.caseFound = true;
                <h1>@bcase.title</h1>
                <div class="case_debrief">
                    <div>
                        <h7 class="h7 center">@bcase.company</h7>
                        <p class="case_debrief_font">
                            <b>Keywords: </b> 
                            @bcase.tags
                        </p>
                        <p class="case_debrief_font">
                            <b>Country: </b> 
                            @bcase.country
                        </p>
                        <p class="case_debrief_font">
                            <b>Bounty: </b> 
                            CAD$ @bcase.bounty
                        </p>
                        <p class="case_debrief_font" id="datetime"></p>    
                        <script>
                            var datetime = convertEpoch(@bcase.datetime);
                            document.getElementById("datetime").innerHTML = "<b>Date Posted: </b>" + datetime;
                        </script>
                    </div>
                </div>
                <div>
                    <h2>Full Case</h2>
                    <div class="flex-wrapper">
                        <div class="box2">
                            <p class ="case_full_font">@bcase.description</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Respond to this business case</h2>
                    <div>
                        <form>
                            <textarea id="response" name="response" placeholder="Write your response..." style="height:300px"></textarea>
                        </form>
                        <br>
                    </div>  
                    <input type="submit" value="Submit Response">
                </div>
                <div>
                    <h2>Other Responses</h2>
                    <div style="text-align: left; ">
                        <div class="flex-wrapper">
                            <div class="box2">
                                <h2 class="responder_name"> John Patrick</h2>
                                <p class="responder_date"> 
                                    Febuary 1st, 2021
                                </p>
                                <br>
                                <p class ="case_full_font">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p> 
                            </div> 
                        </div>
                    </div>          
                    <div style="text-align: left; ">
                        <div class="flex-wrapper">
                            <div class="box2">
                                <h2 class="responder_name"> Jennifer Wang</h2>
                                <p class="responder_date"> 
                                    January 21st, 2021
                                </p>
                                <br>
                                <p class ="case_full_font">
                                Lorem ipsum doim veniis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p> 
                            </div> 
                        </div>
                    </div> 
                    <div style="text-align: left; ">
                        <div class="flex-wrapper">
                            <div class="box2">
                                <h2 class="responder_name"> Saeed Wall</h2>
                                <p class="responder_date"> 
                                    January 5th, 2021
                                </p>
                                <br>
                                <p class ="case_full_font">
                                Loremincididun. trliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p> 
                            </div> 
                        </div>
                    </div> 
                </div>
            }
        }
        @if (Model.caseFound == false) {
            <h1>Sorry, we can't find that business case.</h1>
            <div class="center"><button class="btn2" onclick="location.href='/Active';">Go back to active business cases</button></div>
        }
    </body>
</html>