@page
@model DashboardModel
@{
    ViewData["Title"] = "User Activity";
}

<html>
    <head>
        <title>User Activity</title>
        <script src="js/site.js"></script>
         <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192721075-1"></script>
                <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-192721075-1');
                </script>
            <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-KLDZ6Z2');</script>
            <!-- End Google Tag Manager -->
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLDZ6Z2"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="row">
            <div class="leftcolumn">
                <h7 class="h7">User Activity</h7>
                <!-- the check below should eventually be changed to user that posted instead of case id -->
                @foreach (var bcase in Model.Cases) { 
                    @if (@bcase.id == "0" || @bcase.id == "2") {
                        <div class="card">
                            <p style="text-align:left;">
                                <b>@bcase.title</b>
                                <span style="float:right;">
                                    <b>Bounty: CAD$ @bcase.bounty</b>
                                </span>
                            </p>
                            <p id="datetime_@bcase.id"></p>
                            <script>
                                var datetime = convertEpoch(@bcase.datetime);
                                document.getElementById("datetime_@bcase.id").innerHTML = "<b>Date Posted: </b>" + datetime;
                            </script>
                            <p><b>Num Responses: </b>@bcase.num_responses</p>
                            <div class="btn-group">
                                <a href="/Case?id=@bcase.id">
                                    <button class="btn2">View</button>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h7 class="h7">Profile</h7>    
                    <img src="https://i.imgur.com/nHU6zrb.jpg" alt="profilePic" width="150">
                    <br>
                    <dl>
                        <!-- This information will be moved to the database in a json object -->
                        <dt>John Doe</dt>        
                        <dt>Ottawa, ON</dt>
                        <dt>(613)123-4567</dt>
                        <dt><a href="mailto:john.doe@gmail.com">john.doe@gmail.com</a></dt>
                    </dl>
                </div>
            </div>
        </div>
    </body>
</html>